<template>
  <div class="adepts-item">
    <div class="adepts-item-info">
      <img :src="item.img" class="adepts-item-img" />
      <div class="adepts-item-info-content">
        <span class="adepts-item-name">{{ name }}</span>
        <span class="adepts-item-motto">Hear me working!</span>
      </div>
    </div>
    <span class="adepts-item-specialization">IOS developer</span>
  </div>
</template>

<script lang="ts" src="./index.ts" />

<style lang="scss" src="./style.scss" />
