@import '@/assets/index.scss';

.adepts-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adepts-item-img {
  height: 40px;
  border-radius: 50%;
  margin-right: 40px;
  pointer-events: none;
  user-select: none;
}

.adepts-item-info {
  display: flex;
}

.adepts-item-info-content {
  display: flex;
  flex-direction: column;
}

.adepts-item-name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.65;
  color: $black;
}

.adepts-item-motto,
.adepts-item-specialization {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.57;
}

.adepts-item-motto {
  color: $grey;
}

.adepts-item-specialization {
  color: $light-blue;
}