<template>
  <b-dropdown size="lg"  variant="link" toggle-class="menu-button" no-caret class="menu-wrapper" right menu-class="menu">
    <template slot="button-content"><MenuIcon class="menu-icon"/></template>
    <slot />
  </b-dropdown>
</template>

<script lang="ts" src="./index.ts"/>

<style lang="scss" src="./style.scss"/>


