@import '@/assets/index.scss';

.menu-wrapper {
  height: 10px;
}

.menu {
  @extend .p-0;
  min-width: auto !important;

  .dropdown-item {
    padding: 0;
    outline: none;
    &:active {
      color: inherit;
      background-color: inherit;
    }
  }
}

.menu[x-placement^="bottom"] {
  top: 5px !important;
}

.menu[x-placement^="top"] {
  bottom: 5px !important;
}
  
.menu-button {
  @extend .p-0;
  border: 0;
}
  
.menu-icon {
  height: 100%;
  width: 13px;
  vertical-align: top;
}