<template>
  <div>
    Manuals
    <div v-for="(item, index) in items" :key="index">
      {{item.name}}
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts"/>

<style lang="scss" src="./style.scss">
