<template>
  <div class="dashboard-wrapper">
    <b-row class="dashboard-row">
      <b-col cols="12" class="mt-3">
        <Card>
          <template slot="header">
            <span class="title">Инстременты Дао</span>
          </template>
          <Instruments />
        </Card>
      </b-col>
    </b-row>
    <!-- <b-row class="dashboard-row">
      <b-col cols="7">
        <Card>
          <template slot="header">
            <span class="title">Мануалы</span>
            <BurgerMenu>
              <b-dropdown-item>
                <router-link to="/manuals/create" class="router-link">Создать</router-link>
              </b-dropdown-item>
            </BurgerMenu>
          </template>
          <Manuals />
        </Card>
      </b-col>
      <b-col cols="5">
        <Card>
          <template slot="header">
            <span class="title">События</span>
            <BurgerMenu>
              <b-dropdown-item>
                <b-button v-b-modal.modal-1>Добавить</b-button>
              </b-dropdown-item>
            </BurgerMenu>
          </template>
          <Events />
        </Card>
      </b-col>
    </b-row> -->
    <b-row class="dashboard-row">
      <b-col cols="12">
        <Card>
          <template slot="header">
            <span class="title">Адепты ДАО</span>
          </template>
          <Adepts />
        </Card>
      </b-col>
    </b-row>
  </div>
</template>

<script lang="ts" src="./index.ts" />

<style lang="scss" src="./style.scss" />
