@import '@/assets/index.scss';

.dashboard-wrapper {
  width: 100%;
}

.dashboard-row {
  margin: 0 !important;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.65px;
  color: $black;
}

.router-link {
  color: $black;
  &:hover {
    color: $black;
    text-decoration: none;
  }
  outline: none;
  padding: 0 10px;
}