<template>
  <div class="create-manual-wrapper">
    <Card>
      <template slot="header">
        Создать мануал
      </template>
      <Input label="Название:"/>
      <Input label="Url:"/> 
    </Card>
  </div>
</template>

<script lang="ts" src="./index.ts"/>

<style lang="scss" src="./style.scss"/>
