<template>
  <div class="adepts">
    <Item v-for="(user, index) in users" :key="index" :item="user"/>
  </div>
</template>

<script lang="ts" src="./index.ts"/>

<style lang="scss" src="./style.scss"/>


