<template>
  <button class="button-portal" v-bind:type="type" v-bind:disabled="disabled" @click.prevent="callback($event)">{{text}}</button>
</template>

<script lang="ts" src="./index.ts"/>


<style lang="scss" src="./style.scss">
