<template>
  <b-row class="instruments">
    <Item v-for="(item, index) in config" :item="item" :key="index"/>
  </b-row>
</template>

<script lang="ts" src="./index.ts"/>

<style lang="scss" src="./style.scss"/>


