<template>
  <div>
    <FullCalendar
      defaultView="dayGridMonth"
      :plugins="calendarPlugins"
      :header="header"
      :locale="ruLocale"
      :events="events"
      :selectable="true"
      @select="handleSelect"
    />
    <b-modal ref="event-new-modal">
      <div class="d-block text-center">
        <h3>{{getFieldNewEvent('start')}}</h3>
      </div>
    </b-modal>
  </div>
</template>


<script lang="ts" src="./index.ts" />

<style lang="scss" src="./style.scss">
