@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import "~@fullcalendar/timegrid/main.css";

.fc-day-grid-container {
  height: auto !important;
}

.fc-toolbar {
  button {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.0rem;
  }
}