<template>
  <div class="input-wrapper">
    <label v-if="label" class="input-label">{{label}}</label>
    <input class="input-portal" v-bind:type="type" v-bind:placeholder="placeholder" :value="value" @input="callback"/>
  </div>
</template>

<script lang="ts" src="./index.ts"/>

<style lang="scss" src="./style.scss"/>

