@import '@/assets/index.scss';

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-label {
  @extend .mb-0, .mr-2;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.input-portal {
  @extend .form-control, .p-0;
  background-clip: border-box;
  border-width: 1px 0;
  border-top-color: transparent !important;
  border-radius: 0;
  height: auto;
  margin-bottom: 2px;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0 transparent, 0 1px 0 $light-green;
    border-color: $light-green;
  }
}
