<template>
  <div class="portal">
    <div class="portal-spinner-wrapper" v-if="!isInit">
      <b-spinner label="Loading..." small/>
      <span class="portal-spinner-text">Loading...</span>
    </div>
    <div v-if="isInit" class="w-100">
      <NavBar />
      <Page>
        <router-view />
      </Page>
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts" />

<style lang="scss" src="./style.scss" />
