@import '@/assets/index.scss';

.portal, .portal-spinner-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
  height: 100%;
  width: 100%;
}

.portal-spinner-wrapper {
  @extend .d-flex;
  align-items: center;
  justify-content: center;
}

.portal-spinner-text {
  @extend .pl-2;
}

