<template>
  <b-col cols="4" sm="4" md="2" lg="2" xl="2" class="p-0">
    <a class="instrument-wrapper" :href="item.href" target="_blank">
      <img :src="item.img" class="instrument-img"/>
      <span class="intrument-name">{{item.name}}</span>
    </a>
  </b-col>
</template>

<script lang="ts" src="./index.ts" />

<style lang="scss" src="./style.scss"/>


