@import '@/assets/index.scss';

.instrument-wrapper {
  @extend .mb-3, .mr-0, .ml-0, .row, .p-0;
  align-items: center;
  justify-content: center;
}

.instrument-img {
  @extend .col-6, .p-0, .mr-2;
  max-height: 35px;
  max-width: 35px;
  cursor: pointer;
}

.intrument-name {
  @extend .col-6, .p-0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.57px;
  color: $black;
  cursor: pointer;
}