<template>
  <div class="card-portal">
    <div class="card-portal-body">
      <div class="card-portal-header">
        <slot name="header"></slot>
      </div>
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts"/>


<style lang="scss" src="./style.scss">
