@import '@/assets/index.scss';

.card-portal {
  @extend .card;
  margin-bottom: 1.25rem;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  border-width: 0;
}

.card-portal-body {
  @extend .card-body, .d-flex;
  flex-direction: column;
}

.card-portal-header {
  @extend .mb-3, .d-flex;
  justify-content: space-between;
}