<template>
  <div class="nav-bar-main">
    <Logo />
    <b-dropdown :text="username" class="nav-bar-dropdown" right>
      <b-dropdown-item class="nav-bar-dropdown-item">
        <router-link :to="routes.account" class="nav-bar-dropdown-item-link">Личный Кабинет</router-link>
      </b-dropdown-item>
      <b-dropdown-item class="nav-bar-dropdown-item" @click="handlerClickExit">Выйти</b-dropdown-item>
    </b-dropdown>
  </div>
</template>\

<script lang="ts" src="./index.ts"/>
<style lang="scss" src="./style.scss"/>


