@import '@/assets/index.scss';

.nav-bar-main {
  @extend .d-flex;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: $blackGray;
  padding: 0 48px;
  justify-content: space-between;
}

.nav-bar-dropdown {
  height: 100%;
  .btn {
    border-color: transparent !important;
    background-color: transparent !important;
    &:focus {
      box-shadow: none !important;
    }
    &:hover {
      border-color: transparent !important;
      background-color: transparent !important;
    }
  }
}

.nav-bar-dropdown-item {
  .dropdown-item {
    &:active {
      color: inherit !important;
      background-color: transparent !important;
    }
  }
}

.nav-bar-dropdown-item-link {
  color: $black;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}