<template>
  <div class="auth-wrapper">
    <form action="" class="auth-form">
      <Card>
        <div class="form-group">
          <Input placeholder="Username" :value="email" @input="setEmail"/>
        </div>
        <div class="form-group">
          <Input type="password" placeholder="Password" :value="password" @input="setPassword"/>
        </div>
        <Button text="sign in" type="submit" @click="handlerOnClick"/>
        <span class="text-danger">{{error}}</span>
      </Card>
    </form>
  </div>
</template>

<script lang="ts" src="./index.ts"/>


<style lang="scss" src="./style.scss">


