@import '@/assets/index.scss';

.auth-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
  @extend .d-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.auth-form {
  width: 20rem;
}